*{
    margin:0;
    padding:0;
}
.topbar{
  margin-left: 20px;
  font-size: 20px;
  position: absolute;
  line-height: 100px;
  top:0px;
}
h2{
   text-align: center;
   background:#eee;
   height:100px;
   line-height: 100px;
   margin:0 auto;
}
form{
    height:65vh;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

}

select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   height: 34px;
   border-radius: 20px;
}
form input{
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  height: 34px;
  border-radius: 20px;
  border: 1px solid #aaa;
}
.share{
  background: transparent;
  width: 100px;
  padding: 5px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
}
label span{
  line-height: 30px;
  height:30px;
}
.upload-btn{
    background:#019AE4;
    color:#fff;
}

.red{
  background:red;
  color:white;
  height:40vh;
}
.green{
  background:rgb(52, 192, 73);
  color:white;
  height:40vh;
}
.goback{
  display:block;
  text-decoration: none;
  text-align: center;
  color:white;
  width:150px;
  line-height: 60px;
  font-size: 30px;
  height:60px;
  border:2px solid #019ae4;
  background:#019AE4;
  border-radius: 20px;
  position:absolute;
  top:40%;
  margin:0 auto;
}