*{margin:0;padding:0;}
body{

}
header{
    width:100%;
    height: 45vh;
    position:relative;
}
.bground{
    width:100%;
    height:60%;
}
.bground img{
    width:100%;
    height:100%;
}
.avatar{
   width:100%;
   position:relative;
   top:-50px;
}
.avatar img{
    display:block;
    margin:0 auto;
    
    width:100px;
    height:100px;
}
.p-menu{
    display:flex;
    flex-flow: row nowrap;
    position:relative;
    justify-content: space-around;
    top:-20px;
}
.p-menu a:nth-child(1){
    
}
.p-menu a:nth-child(2){
     
    border:2px solid #ccc;
}
.p-menu a:nth-child(3){
    
    
}

.p-menu a span{
    font-size: 20px;
}
.u-name{
    position:relative;
    top:-90px;
    width:100%;
}
.u-name p{
    text-align: center;
    color:#999;
}

.nnav{
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 30px;
}
.nnav a:nth-child(1){
    text-align: center;
}
.nnav a:nth-child(2){
    
}
.photo-img ul{
    list-style: none;
    display:flex;
    flex-flow: row wrap;
                                               
}
.photo-img ul div{
    height:100px;
    flex-grow: 1;
}
.photo-img ul li{
    
}
.photo-img ul li img{
    height:150px;
    min-width: 100%;     
    max-width: 100%;
    object-fit: cover; 
}



.photo-img ul li a{
    height:20%;
    display:none;
    width:20px;
    border:2px solid #aaa;
    margin:0 auto;
    border-radius: 5px;
    font-size: 20px;
    transition: all 1s;
    text-align: center;
}

nav{
    position:fixed;
    height:10vh;
    bottom:0;
    background:#fff;
    width:100%;
}
nav div{
    height:10vh;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
}
nav div a span{
    font-size: 40px;
}

.album{
    width:100%;
    background:#eee;
    padding-top: 20px;
}
.album-cover{
    width:80%;
    background:#fff;
    border:1px solid #ccc;
    margin:0 auto 20px;
}
.album-cover img{
    width:100%;
}
.album-cover p{
    text-align:center;
    color:#888;
}
.album-cover a{
    height:30px;
    display:none;
    width:30px;
    border:2px solid #aaa;
    margin:0 auto;
    border-radius: 5px;
    font-size: 20px;
    transition: all 1s;
    text-align: center;
}

.add-album{
    
    
    width:100px;
    height:100px;
    margin:30px auto 100px;
    text-align: center;
    

}
.add-album{
    font-size: 50px;
    line-height: 50px;
    border-radius: 50px;
}